*{
    padding: 0;
    margin: 0;
}
#navbar{
    /* background-color: whitesmoke; */
    /* border: 2px solid red; */
    display: flex;
    height: 80px;
    align-items: center;
opacity: 0.9;
}
#navbar ul{
    /* border: 2px solid black; */
    display: flex;
    list-style-type: none;
    padding: 18px 20px;
    margin: 0px 44px;;
}
#navbar ul a{
    /* border: 2px solid green; */
    font-size: 1.2rem;
    margin: 0px 13px;
    color: white;
    padding: 4px 30px;
    text-decoration: none;
    border-radius: 33px;
}
#logo{
    /* border: 2px solid purple; */
    width: 170px;
    height: 40px;
}
#navbar ul li a:hover{
    color:yellow;
}
#home::before{
    content: "";
    background: url('img/background1.png')no-repeat center center/cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
    left: 0px;
    top: 0px;
    
}