*{
    padding: 0;
    margin: 0;
}
#navbar{
    border: 2px solid red;
    display: flex;
    height: 80px;
    align-items: center;

}
#navbar ul{
    border: 2px solid black;
    display: flex;
    list-style-type: none;
    padding: 18px 20px;
    margin: 0px 44px;;
}
#navbar ul a{
    border: 2px solid green;
    font-size: 1rem;
    margin: 0px 13px;
    color: white;
    padding: 4px 30px;
    text-decoration: none;
    border-radius: 33px;
}
#logo{
    border: 2px solid purple;
    width: 170px;
    height: 40px;
}
#navbar ul li a:hover{
    background-color: rgb(98, 93, 93);
    color:yellow;
}
/* #home{
    border: 2PX SOLID pink;
    display: flex;
    margin: 22px 0px;
    padding: 65px 111px;
    font-size: 1rem;
    flex-direction: column;
    justify-content: left;
} */
#navbar::before{
    content: "";
    background: url('img/background1.png')no-repeat center center/cover;
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
    left: 0px;

}